page-home {
    .backgroundBlue {
        background-color: royalblue;
    }

    .backgroundYellow {
        background-color: greenyellow;
    }

    .backgroundPurple {
        background-color: purple;
    }
}
